// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#nprogress .bar {
    background: #1158a9 !important;
    height: 4px !important;
}
#nprogress .spinner {
    display: none !important;
}
